$bg-main: #333;
$bg-dark: #222;
$bg-light: #444;

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

*, button, input {
    transition: all 0.1s;
    user-select: none;
}

// ------------------ //
// General Components //
// ------------------ //

.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

button {
    background-color: #0000;
    border: 0;
    padding: 8px;
    color: #fff; 

    &:hover {
        background-color: #fff2;
    }
}

.interface {
    display: grid;
    
    & > *, & {
        gap: 15px;
    }

    padding: 15px;
    background-color: $bg-light;
    height: calc(100vh - 32px - 30px);
    box-shadow: -2px 0px 5px #0003;
}

.container {
    display: grid;
    grid-template-columns: 48px auto;
}

body {
    margin: 0;
    background-color: $bg-main;
    height: 100vh;
    color: #fff;
    font-size: 18px;
}

// ------------------- //
// Specific Components //
// ------------------- //

#navbar {
    position: sticky;
    top: 0;
    z-index: 999;

    background-color: $bg-dark;
    padding: 0;
    padding-left: 48px;
    height: 32px;
    display: flex;
    align-items: center;

    -webkit-app-region: drag;

    button {
        margin: 0;
        height: 100%;
        -webkit-app-region: no-drag;
    }
}

#panel-selector {
    padding-top: 10px;

    button {
        border-radius: 10px 0 0 10px;
        margin-top: 2.5px;
        margin-bottom: 2.5px;

        &[class="selected"] {
            background-color: $bg-light;
            box-shadow: 0px 4px 0px #0003;
            z-index: 1;
        }
    }
}

.panel {
    border-radius: 10px;

    resize: both;
    overflow: auto;

    background-color: $bg-main;
    box-shadow: inset 0px 6px 0px #0003;
}